<!-- Prevent direct access to .html file -->
<script>
  if(typeof app === 'undefined'){
    document.location.href='index.php';
  }
</script>

<ol class="breadcrumb">
  <li class="breadcrumb-item"><a href="#/dashboard">Dashboard</a></li>
  <li class="breadcrumb-item active">Input</li>
</ol>

<div class="container-fluid">
  <div class="animated fadeIn">
    
    <div class="row" id="div-tabel">
      <div class="col-lg-12">
        <div class="card">
          <div class="card-header">
            <i class="fa fa-align-justify"></i> Daftar Server
            <button id="tambah" class="btn btn-primary btn-sm float-right" type="button">Tambah</button>
          </div>
          
          <div class="card-body">
            <div class="form-group row">
              <label class="col-md-1 col-form-label"><strong>Filter</strong></label>
              <div class="col-md-3">
                <select class="form-control chosen" id="app" name="app"></select>
              </div>
              <div class="col-md-2">
                <select class="form-control chosen" id="env" name="env"></select>
              </div>
              <div class="col-md-2">
                <select class="form-control chosen" id="center" name="center"></select>
              </div>
            </div>
            
            <table id="tabel-ruh" class="table table-responsive-sm table-bordered table-striped table-sm">
              <thead>
                <tr>
                  <th style="width:5%;">No</th>
                  <th><em>Serial<br>Number</em></th>
                  <th>Nama App/<br>DB/Data</th>
                  <th>Fungsi</th>
                  <th>IP</th>
                  <th>Lokasi</th>
                  <th>Kondisi</th>
                  <th>UAKPB</th>
                  <th style="width:12%;">Aksi</th>
                </tr>
              </thead>
              <tbody></tbody>
            </table>
          </div>

        </div>
      </div>
    </div>

    <div class="row" id="div-form">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header">
            <strong>Server</strong> Form
          </div>
          
          <div class="card-body">
            <form class="form-horizontal" id="form-ruh">
              <input type="hidden" id="inp-id" name="inp-id">
              <input type="hidden" id="inp-new" name="inp-new">
              <input type="hidden" id="_token" name="_token" />
              
              <div class="form-group row">
                <label class="col-md-2 col-form-label"><em>Serial Number</em></label>
                <div class="col-md-4">
                  <input class="form-control" id="serial_num" name="serial_num" type="text">
                </div>
                <div class="col-md-2">
                  <span id="warning-serial_num" class="label label-warning warning">Required!</span>
                </div>
              </div>

              <div class="form-group row">
                <label class="col-md-2 col-form-label">Nama App/DB/Data</label>
                <div class="col-md-2">
                  <select class="form-control chosen" id="app_form" name="app_form"></select>
                  <span id="warning-app_form" class="label label-warning warning">Required!</span>
                </div>
                <div class="col-md-2">
                  <select class="form-control chosen" id="env_form" name="env_form"></select>
                  <span id="warning-env_form" class="label label-warning warning">Required!</span>
                </div>
              </div>

              <div class="form-group row">
                <label class="col-md-2 col-form-label">Fungsi</label>
                <div class="col-md-4">
                  <input class="form-control" id="fungsi" name="fungsi" type="text">
                </div>
                <div class="col-md-2">
                  <span id="warning-fungsi" class="label label-warning warning">Required!</span>
                </div>
              </div>

              <div class="form-group row">
                <label class="col-md-2 col-form-label">Merk</label>
                <div class="col-md-2">
                  <select class="form-control chosen" id="merk_form" name="merk_form"></select>
                  <span id="warning-merk_form" class="label label-warning warning">Required!</span>
                </div>
                <div class="col-md-2">
                  <input class="form-control" id="tipe" name="tipe" type="text" placeholder="Tipe">
                  <span id="warning-tipe" class="label label-warning warning">Required!</span>
                </div>
              </div>

              <div class="form-group row">
                <label class="col-md-2 col-form-label">IP Address</label>
                <div class="col-md-4">
                  <input class="form-control" id="ip" name="ip" type="text">
                </div>
                <div class="col-md-2">
                  <span id="warning-ip" class="label label-warning warning">Required!</span>
                </div>
              </div>

              <div class="form-group row">
                <label class="col-md-2 col-form-label">Hostname</label>
                <div class="col-md-4">
                  <input class="form-control" id="hostname" name="hostname" type="text">
                </div>
                <div class="col-md-2">
                  <span id="warning-hostname" class="label label-warning warning">Required!</span>
                </div>
              </div>

              <div class="form-group row">
                <label class="col-md-2 col-form-label">Data Center</label>
                <div class="col-md-2">
                  <select class="form-control chosen" id="center_form" name="center_form"></select>
                  <span id="warning-center_form" class="label label-warning warning">Required!</span>
                </div>
                <div class="col-md-2">
                  <input class="form-control" id="rak" name="rak" type="text" placeholder="Rak">
                  <span id="warning-rak" class="label label-warning warning">Required!</span>
                </div>
              </div>

              <hr>

              <div class="form-group row">
                <label class="col-md-2 col-form-label">OS</label>
                <div class="col-md-2">
                  <select class="form-control chosen" id="os_form" name="os_form"></select>
                  <span id="warning-os_form" class="label label-warning warning">Required!</span>
                </div>
                <div class="col-md-2">
                  <input class="form-control" id="os_ver" name="os_ver" type="text" placeholder="Versi OS">
                  <span id="warning-os_ver" class="label label-warning warning">Required!</span>
                </div>
              </div>

              <div class="form-group row">
                <label class="col-md-2 col-form-label">CPU</label>
                <div class="col-md-4">
                  <input class="form-control" id="cpu" name="cpu" type="text">
                </div>
                <div class="col-md-2">
                  <span id="warning-cpu" class="label label-warning warning">Required!</span>
                </div>
              </div>

              <div class="form-group row">
                <label class="col-md-2 col-form-label">Memory</label>
                <div class="col-md-4">
                  <input class="form-control" id="memory" name="memory" type="text">
                </div>
                <div class="col-md-2">
                  <span id="warning-memory" class="label label-warning warning">Required!</span>
                </div>
              </div>

              <div class="form-group row">
                <label class="col-md-2 col-form-label">Disk</label>
                <div class="col-md-4">
                  <input class="form-control" id="disk" name="disk" type="text">
                </div>
                <div class="col-md-2">
                  <span id="warning-disk" class="label label-warning warning">Required!</span>
                </div>
              </div>

              <div class="form-group row">
                <label class="col-md-2 col-form-label">Storage</label>
                <div class="col-md-4">
                  <input class="form-control" id="storage" name="storage" type="text">
                </div>
                <div class="col-md-2">
                  <span id="warning-storage" class="label label-warning warning">Required!</span>
                </div>
              </div>

              <div class="form-group row">
                <label class="col-md-2 col-form-label">App/DB Engine</label>
                <div class="col-md-4">
                  <input class="form-control" id="engine" name="engine" type="text">
                </div>
                <div class="col-md-2">
                  <span id="warning-engine" class="label label-warning warning">Required!</span>
                </div>
              </div>

              <hr>

              <div class="form-group row">
                <label class="col-md-2 col-form-label">UAKPB</label>
                <div class="col-md-4">
                  <select class="form-control chosen" id="uakpb_form" name="uakpb_form"></select>
                </div>
                <div class="col-md-2">
                  <span id="warning-uakpb_form" class="label label-warning warning">Required!</span>
                </div>
              </div>

              <div class="form-group row">
                <label class="col-md-2 col-form-label">Kode BMN</label>
                <div class="col-md-4">
                  <input class="form-control" id="kd_bmn" name="kd_bmn" type="text">
                </div>
                <div class="col-md-2">
                  <span id="warning-kd_bmn" class="label label-warning warning">Required!</span>
                </div>
              </div>

              <div class="form-group row">
                <label class="col-md-2 col-form-label">Uraian BMN</label>
                <div class="col-md-4">
                  <select class="form-control chosen" id="uraianbmn_form" name="uraianbmn_form"></select>
                </div>
                <div class="col-md-2">
                  <span id="warning-uraianbmn_form" class="label label-warning warning">Required!</span>
                </div>
              </div>

              <div class="form-group row">
                <label class="col-md-2 col-form-label">Kondisi</label>
                <div class="col-md-4">
                  <input class="form-control" id="kondisi" name="kondisi" type="text">
                </div>
                <div class="col-md-2">
                  <span id="warning-kondisi" class="label label-warning warning">Required!</span>
                </div>
              </div>

              <div class="form-group row" id="div_tgl_perolehan" style="display:none;">
                <label class="col-md-2 col-form-label">Tanggal Perolehan</label>
                <div class="col-md-4">
                  <input class="form-control" id="tgl_perolehan" name="tgl_perolehan" type="date">
                </div>
                <div class="col-md-2">
                  <span id="warning-tgl_perolehan" class="label label-warning warning">Required!</span>
                </div>
              </div>

              <div class="form-group row" id="div_nil_perolehan" style="display:none;">
                <label class="col-md-2 col-form-label">Nilai Perolehan</label>
                <div class="col-md-4">
                  <input class="form-control val_num" id="nil_perolehan" name="nil_perolehan" type="text">
                </div>
                <div class="col-md-2">
                  <span id="warning-nil_perolehan" class="label label-warning warning">Required!</span>
                </div>
              </div>

              <div class="form-group row" id="div_nil_depresiasi" style="display:none;">
                <label class="col-md-2 col-form-label">Nilai Depresiasi</label>
                <div class="col-md-4">
                  <input class="form-control val_num" id="nil_depresiasi" name="nil_depresiasi" type="text">
                </div>
                <div class="col-md-2">
                  <span id="warning-nil_depresiasi" class="label label-warning warning">Required!</span>
                </div>
              </div>

              <div class="form-group row" id="div_tgl_lisensi" style="display:none;">
                <label class="col-md-2 col-form-label">Tanggal Lisensi</label>
                <div class="col-md-4">
                  <input class="form-control" id="tgl_lisensi" name="tgl_lisensi" type="date">
                </div>
                <div class="col-md-2">
                  <span id="warning-tgl_lisensi" class="label label-warning warning">Required!</span>
                </div>
              </div>

              <div class="form-group row" id="div_sts_lisensi" style="display:none;">
                <label class="col-md-2 col-form-label">Status Lisensi</label>
                <div class="col-md-4">
                  <select class="form-control" id="stslisensi_form" name="stslisensi_form"></select>
                </div>
                <div class="col-md-2">
                  <span id="warning-stslisensi_form" class="label label-warning warning">Required!</span>
                </div>
              </div>

              <div class="form-group row" id="div_ket_sewa" style="display:none;">
                <label class="col-md-2 col-form-label">Keterangan Sewa</label>
                <div class="col-md-4">
                  <input class="form-control" id="ket_sewa" name="ket_sewa" type="text">
                </div>
                <div class="col-md-2">
                  <span id="warning-ket_sewa" class="label label-warning warning">Required!</span>
                </div>
              </div>

              <div class="form-group row">
                <label class="col-md-2 col-form-label">Keterangan Server</label>
                <div class="col-md-4">
                  <!-- <input class="form-control" id="ket" name="ket" type="text"> -->
                  <textarea class="form-control" id="ket" name="ket"></textarea>
                </div>
                <div class="col-md-2">
                  <span id="warning-ket" class="label label-warning warning">Required!</span>
                </div>
              </div>

            </form>
          </div>

          <div class="card-footer">
            <button class="btn btn-sm btn-primary" type="submit" id="simpan">
              <i class="fa fa-save"></i> Simpan
            </button>
            <button class="btn btn-sm btn-danger" type="reset" id="batal">
              <i class="fa fa-ban"></i> Batal
            </button>
          </div>
        </div>
      </div>
    </div>

    <div id="view-content" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="confirm-modal" aria-hidden="true">
      <div class="modal-dialog w-50" style="max-width:none;">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">Detail Server</h4>
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          </div>
          <div class="modal-body">
            <div class="table-responsive">
              <table class="table table-hover">
                <thead id="content-view">
                </thead>
              </table>
            </div>
          </div>
          <!-- <div class="modal-footer" id="div-footer">
          </div> -->
        </div>
      </div>
    </div>

  </div>
</div>

<script>
  $(document).ready(function() {
  
    $('.chosen').chosen();


    $.get('dropdown/app', function(result) {
      $('#app').html(result).trigger('chosen:updated');
    });
    $.get('dropdown/env', function(result) {
      $('#env').html(result).trigger('chosen:updated');
    });
    $.get('dropdown/center', function(result) {
      $('#center').html(result).trigger('chosen:updated');
    });
    $('#app,#env,#center').change(function(){
      var app = $('#app').val();
      var env = $('#env').val();
      var center = $('#center').val();
      table.ajax.url("input?app="+app+"&env="+env+"&center="+center).load();
    });


    /*Form dropdown*/
    $.get('dropdown/app-form', function(result) {
      $('#app_form').html(result).trigger('chosen:updated');
    });
    $.get('dropdown/env-form', function(result) {
      $('#env_form').html(result).trigger('chosen:updated');
    });
    $.get('dropdown/merk-form', function(result) {
      $('#merk_form').html(result).trigger('chosen:updated');
    });
    $.get('dropdown/center-form', function(result) {
      $('#center_form').html(result).trigger('chosen:updated');
    });
    $.get('dropdown/os-form', function(result) {
      $('#os_form').html(result).trigger('chosen:updated');
    });
    $.get('dropdown/uakpb-form', function(result) {
      $('#uakpb_form').html(result).trigger('chosen:updated');
    });
    $.get('dropdown/uraianbmn-form', function(result) {
      $('#uraianbmn_form').html(result).trigger('chosen:updated');
    });
    /*$.get('dropdown/stslisensi-form', function(result) {
      $('#sts_lisensi_form').html(result).trigger('chosen:updated');
    });*/
    $.get('dropdown/stslisensi-form', function(result) {
      $('#stslisensi_form').html(result);
    });


    $('#uakpb_form').change(function(){
      var uakpb = $('#uakpb_form').val();
      //Sewa
      if(uakpb==4){
        $('#div_tgl_perolehan,#div_nil_perolehan,#div_nil_depresiasi,#div_tgl_lisensi,#div_sts_lisensi').hide();
        $('#div_ket_sewa').show();
      }
      else{
        $('#div_tgl_perolehan,#div_nil_perolehan,#div_nil_depresiasi,#div_tgl_lisensi,#div_sts_lisensi').show();
        $('#div_ket_sewa').hide();
      }
    });


    function form_valid(str_id){
      var arr_id=str_id.split(',');
      var lanjut=true;
      
      for(x=0;x<arr_id.length;x++){
        
        if($('#'+arr_id[x]).val()==''){
          $('#warning-'+arr_id[x]).show();
          lanjut=false;
        }
      }

      return lanjut;
    }


    function form_default(){
      $('.warning,#div-form').hide();
      $('input,textarea,#ket').val('');
      $('.chosen').val('').trigger('chosen:updated');
      $('#div-tabel').show();
    }

  
    form_default();


    jQuery.fn.dataTable.ext.errMode = 'none';
    var table = $('#tabel-ruh').DataTable({
      processing: true,
      language:{
        "decimal":        "",
        "emptyTable":     "Tidak ada data tersedia",
        "info":           "Menampilkan _START_ sampai _END_ dari _TOTAL_ entri",
        "infoEmpty":      "Menampilkan 0 sampai 0 dari 0 entri",
        "infoFiltered":   "(disaring dari _MAX_ total entri)",
        "infoPostFix":    "",
        "thousands":      ",",
        "lengthMenu":     "Tampilkan _MENU_ entri",
        "loadingRecords": "Proses Loading...",
        "processing":     "Sedang Proses...",
        "search":         "Cari:",
        "zeroRecords":    "Tidak ditemukan data yang sesuai",
        "paginate": {
            "first":      "Awal",
            "last":       "Akhir",
            "next":       "Sesudah",
            "previous":   "Sebelum"
        },
        "aria": {
            "sortAscending":  ": aktifkan untuk mengurutkan kolom (asc)",
            "sortDescending": ": aktifkan untuk mengurutkan kolom (desc)"
        }
      },
      serverSide: true,
      ajax: 'input',
      columns: [
        {data: 'DT_RowIndex', name: 'DT_RowIndex', className: 'table-center', orderable: false, searchable:false},
        {data: 'serial_num', name: 'serial_num', className: 'table-center'},
        {data: 'nama_app', name: 'nama_app'},
        {data: 'fungsi', name: 'fungsi', orderable: false},
        {data: 'ip', name: 'ip', className: 'table-center', orderable: false},
        {data: 'lokasi', name: 'lokasi', className: 'table-center'},
        {data: 'kondisi', name: 'kondisi', className: 'table-center'},
        {data: 'nama_uakpb', name: 'nama_uakpb', className: 'table-center'},
        {data: 'action', name: 'action', orderable: false, searchable: false}
      ]
    });


    $('#batal').click(function(){
      form_default();
    });


    $('body').off('click', '#tambah').on('click', '#tambah', function(){
      $('#serial_num,#nama,#fungsi').val('');
      /*$('#serial_num').prop('disabled',false);*/
      $('#div-tabel').hide();
      $('#div-form').show();
      $('#inp-new').val('1');
      $('#inp-id').val('');
    });


    function edit_data(id) {
      $('#serial_num,#app_form,#env_form,#fungsi,#merk_form,#tipe,#ip,#hostname,#center_form,#rak,#os_form,#os_ver,#cpu,#memory,#disk,#storage,#engine,#uakpb_form,#kd_bmn,#uraianbmn_form,#kondisi,#tgl_perolehan,#nil_perolehan,#nil_depresiasi,#tgl_lisensi,#stslisensi_form,#ket_sewa,#ket').val('');
      $.getJSON('input/'+id, function(result) {
        $('#serial_num').val(result.serial_num);
        /*$('#serial_num').prop('disabled',true);*/
        $('#app_form').val(result.app_id).trigger('chosen:updated');
        $('#env_form').val(result.kd_env).trigger('chosen:updated');
        $('#fungsi').val(result.fungsi);
        $('#merk_form').val(result.merk_id).trigger('chosen:updated');
        $('#tipe').val(result.tipe);
        $('#ip').val(result.ip);
        $('#hostname').val(result.hostname);
        $('#center_form').val(result.center_id).trigger('chosen:updated');
        $('#rak').val(result.rak);

        $('#os_form').val(result.os_id).trigger('chosen:updated');
        $('#os_ver').val(result.os_version);
        $('#cpu').val(result.cpu);
        $('#memory').val(result.memory);
        $('#disk').val(result.disk);
        $('#storage').val(result.storage);
        $('#engine').val(result.engine);

        $('#uakpb_form').val(result.uakpb_id).trigger('chosen:updated');
        $('#kd_bmn').val(result.kd_bmn);
        $('#uraianbmn_form').val(result.uraian_bmn_id).trigger('chosen:updated');
        $('#kondisi').val(result.kondisi);
        $('#ket').val(result.ket);

        if(result.uakpb_id==4){
          $('#ket_sewa').val(result.ket_sewa);
        }
        else{
          $('#tgl_perolehan').val(result.tgl_perolehan);
          $('#nil_perolehan').val(result.nil_perolehan);
          $('#nil_depresiasi').val(result.nil_depresiasi);
          $('#tgl_lisensi').val(result.tgl_lisensi);
          $('#stslisensi_form').val(result.kd_sts_lisensi);
        }
      });
    }


    $('body').off('click', '.ubah').on('click', '.ubah', function(){
      var id=this.id;
      edit_data(id);
      $('#div-tabel').hide();
      $('#div-form').show();
      $('#inp-new').val('0');
      $('#inp-id').val(id);
    });


    $('#simpan').click(function(){
      $('#simpan').html('Loading...');
      $('#simpan').prop('disabled',true);

      /*if($('#uakpb_form').val()==4){
        var lanjut = form_valid('serial_num,app_form,env_form,fungsi,merk_form,tipe,ip,hostname,center_form,rak,os_form,os_ver,cpu,memory,disk,storage,engine,uakpb_form,kd_bmn,uraianbmn_form,kondisi,ket_sewa,ket');
      }
      else{
        var lanjut = form_valid('serial_num,app_form,env_form,fungsi,merk_form,tipe,ip,hostname,center_form,rak,os_form,os_ver,cpu,memory,disk,storage,engine,uakpb_form,kd_bmn,uraianbmn_form,kondisi,tgl_perolehan,nil_perolehan,nil_depresiasi,tgl_lisensi,stslisensi_form,ket');
      }*/
      var lanjut = form_valid('serial_num,app_form,env_form,fungsi');
      
      if(lanjut==true){
        
        jQuery.get('token', function(token){
          if(token){
            
            $('#_token').val(token);
            var data = $('#form-ruh').serialize();
            
            if($('#inp-new').val()=='1'){
              jQuery.ajax({
                url:'input',
                method:'POST',
                data:data,
                success:function(result){
                  if(result=='success'){
                    $('#simpan').html('<i class="fa fa-save"></i> Simpan');
                    $('#simpan').prop('disabled',false);
                    alertify.log('Proses simpan berhasil.');
                    form_default();
                    table.ajax.reload();
                  }
                  else{
                    $('#simpan').html('<i class="fa fa-save"></i> Simpan');
                    $('#simpan').prop('disabled',false);
                    alertify.log(result);
                  }
                },
                error:function(result){
                  $('#simpan').html('<i class="fa fa-save"></i> Simpan');
                  $('#simpan').prop('disabled',false);
                  alertify.log(result);
                }
              });
            }

            else{
              jQuery.ajax({
                url:'input',
                method:'PUT',
                data:data,
                success:function(result){
                  if(result=='success'){
                    $('#simpan').html('<i class="fa fa-save"></i> Simpan');
                    $('#simpan').prop('disabled',false);
                    alertify.log('Proses ubah berhasil.');
                    form_default();
                    table.ajax.reload();
                  }
                  else{
                    $('#simpan').html('<i class="fa fa-save"></i> Simpan');
                    $('#simpan').prop('disabled',false);
                    alertify.log(result);
                  }
                },
                error:function(result){
                  $('#simpan').html('<i class="fa fa-save"></i> Simpan');
                  $('#simpan').prop('disabled',false);
                  alertify.log(result);
                }
              });
            }
          }
          else{
            $('#simpan').html('<i class="fa fa-save"></i> Simpan');
            $('#simpan').prop('disabled',false);
            alertify.log('Proses gagal. Silahkan refresh halaman browser Anda!');
          }
        });

      }
      else{
        $('#simpan').html('<i class="fa fa-save"></i> Simpan');
        $('#simpan').prop('disabled',false);
        alertify.log('Tidak boleh dikosongkan!');
      }
    });


    $('body').off('click', '.hapus').on('click', '.hapus', function(){
      var id=this.id;
      alertify.confirm('Hapus data ini?', function(e){
        if(e){
          jQuery.get('token', function(token){
            if(token){
              jQuery.ajax({
                url:'input',
                method:'DELETE',
                data:{
                  _token:token,
                  id:id
                },
                success:function(result){
                  if(result=='success'){
                    alertify.log('Proses hapus berhasil.');
                    form_default();
                    table.ajax.reload();
                  }
                  else{
                    alertify.log(result);
                  }
                },
                error:function(result){
                  alertify.log(result);
                }
              });
            }
            else{
              alertify.log('Proses hapus gagal. Silahkan refresh halaman browser Anda!');
            }
          });
        }
      });
    });
  
  });

</script>